@import "colours";

.container {
  margin: auto auto;
  width: 50%;
}

h1 {
  color: $c-purple;
}

p {
  color: $c-text-dark;
}

body {
  margin: 0;
}

.colour-span {
  background: $c-lightblue;
  background: linear-gradient(135deg, $c-lightblue, $c-purple);
  color: white;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  h1 {
    color: white;
  }
}

#text-anim-cursor {
  animation: blink 2s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  & > nav > a {
    text-decoration: none;
    color: $c-text-dark !important;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
    &.home {
      color: $c-purple !important;
    }
    &:hover {
      text-decoration: underline solid $c-lightblue 2.5px;
      text-underline-offset: 2px;
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  padding-top: 4rem;
  font-size: small;
  span {
    display: inline-block;
  }
}

a {
  color: inherit;
  &:visited {
    color: $c-purple;
  }
  &:hover {
    color: $c-lightblue;
  }
}

ul.blogposts {
  list-style: none;
  padding: 0rem;
  .date {
    font-weight: bold;
    color: #111;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}