body {
  // font-family: 'source sans pro';
  font-family: 'Source Sans Pro', 'Open Sans', system-ui, sans-serif, 'Apple Color Emoji';
  margin: auto auto;
  width: 50%;
}

code {
  font-family: 'source code pro', monospace;
}

p {
  color: #111;
}

header {
  display: flex;
  margin-top: 2rem;
  margin-left: auto;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #56abe4;
}

header a {
  margin-right: 2rem;
}

ul.blogposts{
  list-style: none;
  padding: 0rem;
  .date {
    font-weight: bold;
    color:#111;
  }
}
